body{
	text-align: center;
}
header{
	padding-top:20px;
	min-height:800px;
	width:100%;
	position:relative;
	top:0;
	bottom:0;
	left:0;
	right:0;
	background-image:url("../images/background.jpg");
	background-repeat:no-repeat;
	background-size: cover;
}
.header-container{
	margin-left: auto;
	margin-right:auto;
}

.navbar{
	background-color: transparent;
	border:none;
}
.navbar .navbar-header{
	width:100%;
}
.navbar .navbar-brand{
	font-size: 2.5em;
	font-weight:100;
	color:#fff; 
	font-family: 'Lato',sans-serif;
}
.navbar .menu{
	margin-top: 10px;
	margin-right: 30px;
}
.navbar .menu a{
	padding:7px;
	margin-left: 10px;
	text-decoration: none;
	color:#fff;
	font-size: 1.2em;
}
.navbar .menu a:nth-of-type(3){
	border: 1px solid #fff;
}
.header-text{
	height:450px;
	width:100%;
	padding-top: 20px;
	margin-bottom: 40px;
}
.header-person{
	height: 200px;
	width: 200px;
	background: #fff url("../images/person.jpg");
	background-size: 160px;
	background-repeat: no-repeat;
	background-position: 20px -10px;
	margin: 30px auto;
	border-radius: 50%;
	overflow: hidden;
	border: 5px solid rgba(0,0,0,0.5);
}
.text-container{
	color:#fff;
	text-align: center;
	height:180px;
	margin: 40px auto;

}
.text-container h3{
	padding-top:30px;
}
header div.col-md-5{
	margin-top:40px;
	background-color: #fff;
	height:40px;
	line-height: 40px;
	text-align: center;
	font-size: 1.3em;
	border-radius: 3px;
}
header div.col-md-5:nth-of-type(2){
	background-color: #0090f7;
	color:#fff;
	text-decoration: none;
}
header div.col-md-5:nth-of-type(2) a{
	color:#fff;
}
header p{
	color: #fff;
	font-size: 1.5em;
	padding:30px;
}
#content{
	background-color: #fdfdfd;
}
#content-info{
	border-bottom: 1px solid #e9eaec;
	padding-bottom: 80px;
}
.info-title{
	text-align: center;
	margin-top:100px;
	margin-bottom: 80px;
}
.col-md-4 .material-icons{
	font-size: 3em;
	color:#0090f7;
}
.col-md-4:nth-of-type(2){
	border-left: 1px solid #e9eaec;
	border-right: 1px solid #e9eaec;
}
#content-project{
	padding: 20px;
	border-bottom: 1px solid #e9eaec;
}
.project-title{
	text-align: center;
	margin-top: 85px;
	margin-bottom: 85px;
}
.project-title h1{
	margin-bottom: 30px;
}
.col-md-6{
	padding:40px;
	cursor: pointer;
}
.col-md-6 .material-icons{
	margin-bottom: 40px;
	font-size: 3em;
	color:#0090f7;
}
.col-md-6:nth-of-type(2){
	border-left: 1px solid #e9eaec;
}
.col-md-6:nth-of-type(3){
	border-top: 1px solid #e9eaec;
}
.col-md-6:nth-of-type(4){
	border-top: 1px solid #e9eaec;
	border-left: 1px solid #e9eaec;
}
.col-md-6:nth-of-type(5	){
	border-top: 1px solid #e9eaec;
}
.col-md-6:nth-of-type(6){
	border-top: 1px solid #e9eaec;
	border-left: 1px solid #e9eaec;
}
.content-level{
	padding:80px 0;
	padding-bottom: auto;
	border-bottom: 1px solid #e9eaec;
	background:#fdfdfd url("../images/graph.png") no-repeat bottom center;
	background-size: 100% auto;
}
.level-title{
	text-align: center;
}
.level-title h1{
	padding-bottom: 30px;
}
.level-container .col-md-4 .material-icons{
	font-size: 25em;
	color:#000;
}
.level-container .row .col-md-3{
	margin-top: 20px;
}
.level-container .stat{
	background:rgba(255,255,255,0.95);
	padding:10px 20px;
	border:1px solid #e9eaec;
	border-bottom: 1px solid #0090f7;
}
#content-contact{
	padding:80px 0;
	background: #fdfdfd;
}
.contact-title{
	padding: 10px 0;
	text-align: center;
	margin-bottom: 30px;
}
.contact-title h1{
	padding-top: 0px;
	margin-bottom: 30px;
}
#content-contact .panel{
	text-align: center;
	border: 1px solid #0090f7; 
}
.panel-body span{
	font-size: 3em;
}
footer{
	padding:80px 0;
	background-color: #142333;

	text-align: center;
}
footer div.col-md-5{
	background-color: #fff;
	height:40px;
	line-height: 40px;
	text-align: center;
	font-size: 1.3em;
	border-radius: 3px;
}
footer div.col-md-5:nth-of-type(2){
	background-color: #0090f7;
	color:#fff;
	text-decoration: none;
}
footer div.col-md-5:nth-of-type(2) a{
	color:#fff;
}
footer p{
	color: #fff;
	font-size: 1.5em;
	padding:30px;
}